<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>40282239780-6dkku83jp75b4d3ni8sufdtfbr0d363b.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.40282239780-6dkku83jp75b4d3ni8sufdtfbr0d363b</string>
	<key>API_KEY</key>
	<string>AIzaSyA7Vn4tqF31DaxvLvwmdtRdso_WsxjW3Uk</string>
	<key>GCM_SENDER_ID</key>
	<string>40282239780</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ptolemay.flyday.broker.ios</string>
	<key>PROJECT_ID</key>
	<string>flyday-broker</string>
	<key>STORAGE_BUCKET</key>
	<string>flyday-broker.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:40282239780:ios:b5480d9b521df1f02b39b1</string>
</dict>
</plist>